@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

:root {

    --list-border-color: hsl(227, 75%, 14%);
    --cards-header-bg: hsl(226, 25%, 17%);
    --mods-button-color: hsl(225, 23%, 24%);
    --bg-list: hsl(225, 23%, 24%);
    --remove-btn: hsl(226, 11%, 37%);
    --paragraph: hsl(0, 0%, 78%);
    --toggle: hsl(217, 61%, 90%);
    --Neutral-100: hsl(0, 0%, 93%);
    --H-colors: hsl(200, 60%, 99%);

    --outline-focus: hsl(3, 86%, 64%);
    --color-active: hsl(3, 71%, 56%);
    --Red-700: hsl(3, 77%, 44%);


    --background-gr: 180deg, #040918 0%, #091540 100%;

    --shadow: hsl(200, 60%, 99%);
}



.light-mood {
    --background-gr: 180deg, #EBF2FC 0%, #EEF8F9 100%;
    --cards-header-bg: hsl(200, 60%, 99%);
    --H-colors: hsl(227, 75%, 14%);
    --mods-button-color: hsl(0, 0%, 78%);
    --list-border-color: hsl(200, 60%, 99%);
    --bg-list: hsl(200, 60%, 99%);
    --color-active: hsl(3, 77%, 44%);
    --paragraph: hsl(225, 23%, 24%);
    --remove-btn: hsl(217, 61%, 90%);
    --shadow: #091540;
    --toggle: hsl(200, 60%, 99%);
}

body {
    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    min-height: 100vh;
    background: linear-gradient(var(--background-gr));
}


/* containers */

.container {
    margin: 0 auto;
    padding: 0 15px;
}

@media (min-width: 768px) {
    .container {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 80%;
    }
}

/* header */

.header-container {
    margin: 30px 0;
    padding: 10px 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--cards-header-bg);
    border-radius: 10px;
}

.header-container .logo {
    height: 41px;
    position: relative;
}

.header-container .logo span {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);

    font-size: 22px;
    padding: 10px 18px 10px 0;
    background-color: var(--cards-header-bg);
    color: var(--H-colors);
}

.header-container button {
    border: none;
    outline: none;
    background-color: var(--mods-button-color);
    height: 41px;
    width: 41px;
    transition: .3s;
    position: relative;
    z-index: 99999;

    box-shadow: 0 0 0px 0px var(--shadow);

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid transparent;
    cursor: pointer;
}

@keyframes gradient {
    0% {
        box-shadow: 0 0 0px 0px var(--shadow),
            inset 0 0 0px 0px var(--shadow);
    }

    50% {
        box-shadow: 0 0 20px 10000px var(--shadow),
            inset 0 0 0px 30px var(--shadow);
    }

    100% {
        box-shadow: 0 0 0px 0px var(--shadow),
            inset 0 0 0px 0px var(--shadow);
    }
}

#dark {
    display: none;
}

a:focus-visible,
button:focus-visible,
.top-section ul li button:focus-visible {
    border: 1px solid var(--list-border-color);
    outline: 2px solid var(--outline-focus);
}

.top-section ul li button.active:focus-visible {
    border: 1px solid var(--list-border-color);
}

/* section ----------- */

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-section h2 {
    color: var(--H-colors);
}

.top-section ul {
    display: flex;
    align-items: center;
    gap: 10px;
}

.top-section ul li button {
    outline: none;
    color: var(--H-colors);
    padding: 10px 20px;
    background-color: var(--bg-list);
    border-radius: 30px;
    border: 1px solid transparent;
    transition: color .3s;
    cursor: pointer;
}


.top-section ul li button.active {
    color: var(--list-border-color);
    background-color: var(--color-active);
}

@media (max-width: 767px) {
    .top-section {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
    }
}

/* --------------------------------------- */

.cards-con {
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: flex-start;
    margin-top: 30px;
    transition: .4s;
}

.cards-con .card {
    margin-bottom: 30px;
    flex-basis: calc(98%/ 3 - 40px);
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--bg-list);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.cards-con .card .content {
    display: flex;
    gap: 20px;
}

.cards-con .card .content .text-con h3 {
    font-size: 21px;
    color: var(--H-colors);
    margin-bottom: 10px;
}

.cards-con .card .content .text-con p {
    color: var(--paragraph);
    font-size: 16px;
    line-height: 1.3;
}

.cards-con .card .btns {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cards-con .card .btns button {
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid var(--remove-btn);
    outline: none;
    background-color: transparent;
    color: var(--H-colors);
    transition: .3s;
    cursor: pointer;
}

.cards-con .card .btns button:hover {
    background-color: var(--color-active);
}

.cards-con .card .btns button:focus-visible {
    background-color: var(--remove-btn);
    border: 2px solid var(--list-border-color);
    outline: 2px solid var(--outline-focus);
}

.cards-con .card .btns .frame:focus-visible {
    border: 2px solid var(--list-border-color);
    outline: 2px solid var(--outline-focus);
}

.cards-con .card .btns .frame {
    width: 46px;
    height: 20px;
    padding: 3px;
    border-radius: 30px;
    background-color: var(--remove-btn);
    position: relative;
    transition: background .3s;
    cursor: pointer;
}

.cards-con .card .btns .isActive {
    background-color: var(--color-active);
}

.cards-con .card .btns .frame .toggle {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: var(--toggle);
    transition: transform .3s ease-out;
    transform: translateX(0%)
}

.cards-con .card .btns .isActive .toggle {
    transform: translateX(120%);
}

/* media  */

@media (max-width: 991px) {

    .cards-con .card {
        flex-basis: calc(99% / 2 - 40px);
    }

    .cards-con .card .content {
        gap: 10px;
    }

    .cards-con .card .content .text-con p {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    .cards-con {
        gap: 0;
    }

    .cards-con .card {
        flex-basis: 100%;
    }
}